/* Common shared styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.color-primary{
    color: #9575DE;
}

.text-primary{
 color: #6527BE;
}

.btn-primary{
     background-color: #6527BE;
     color: white;
     padding: 15px 30px;
     border: 0;
     border-radius: 5px;
     font-size: 1.5rem;
     font-weight: bolder;
}

.btn-secondary{
     background-color: #EDE4FF;
     color: #2B2730;
     padding: 15px 30px;
     border: 0;
     border-radius: 5px;
     font-size: 1.5rem;
     font-weight: bolder;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}


/* Nav section related styles */

nav{
    display: flex;
    margin: 30px 70px;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}

nav a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
}


/* Banner section related styles */


.banner{
    margin: 30px 70px;
}
.banner-container{
    display: flex;
    align-items: center;
}

.profile-img{
    width: 100%;
}